body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(bg.jpg);
}

header{
    margin-top: 20px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

/* .table tr td{
    
    color: white;
    background-color: rgba(0, 0, 0, 0.685);   
} */


p{
    color: white;
}

label{
    padding-top: 10px;
}

.table{
    
    color: white;
    background-color: white;
}

.table-pembelian{
    margin: auto;
    width: 45%;
}

.table-pemakaian{
    margin: auto;
    width: 40%;
}

.table-barang{
    margin: auto;
    width: 50%;
}

.table-satuan{
    margin: auto;
    width: 80%;
    border-radius: 8px;
    background : rgb(255, 255, 255,0.7);
    padding : 20px;
}

.table-kategori{
    margin: auto;
    width: 30%;
}

.btn-dark{
    margin-top: 1rem;
}       

.card-kategori{
    
    margin: auto;
    width: 40%;
}

.card-satuan{
    
    margin: auto;
    width: 40%;
}

.card-pembelian{
    
    margin: auto;
    width: 50%;
}

.card-pemakaian{
    
    margin: auto;
    width: 50%;
}

.card-barang{
    
    margin: auto;
    width: 60%;
}

.card-kategori-edit{
    
    margin: auto;
    width: 40%;
}

.card-satuan-edit{
    
    margin: auto;
    width: 40%;
}

.card-pembelian-edit{
    
    margin: auto;
    width: 50%;
}

.card-pemakaian-edit{
    
    margin: auto;
    width: 50%;
}

.card-barang-edit{
    
    margin: auto;
    width: 60%;
}


.carousel-item img{
    border-radius: 20px;
    align-items: center;
    border: 10px solid white;
    width: 100%;
    /* height: 350px; */
}